#image-title {
  position: relative;
  top: 75px;
  font-size: 35px;
  text-align: center;
  left: 15px;
  color: rgb(0,0,0)
}
#Zoe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 378px;
}
#zoe-pic-text {
  display: center;
  font-size: 15px;
  text-align: center;
  color: rgb(255, 253, 208)
}
#ZoeTongue2 {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
#ZoeWithBigBone {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 378px;
}
.row {
  text-align: center;
}
.column {
  display: inline-block;
  height: 300px;
  width: 450px;
  padding: 15px;
  border: 1px red;
  border-style:
  margin: 10px;
}
#William_VS_Lab_Playing_Fetch {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#ZoeLickingTheo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
#ZoeChristmas {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
